@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* MOBILE */

header {
    background-color: #faf4ec;
}

.header-dark {
    background-color: #393c4f;
}

ul {
    list-style-type: square;
}

body {
    background-color: #f3e8de;
    margin: 0;
}

.body-dark {
    background-color: #191a24;
}

h2, h3, h4, p, a, ul {
    font-family: 'Open Sans', sans-serif;
    color: #256993;
}

.text-dark {
    color: #F5DEB3
}

.img-dark {
    background-color: #F5DEB3
}

h2, h3 {
    text-align: center;
}

h2 {
    margin: 0 0;
    padding: 1vh;
}

button {
    padding: 1.5vh;
    border-radius: 10px;
    cursor: pointer;
    margin: 1vh 1vw;
}

.ul-about {
    list-style-type: none;
}

.flexbox-top-btns {
    display: flex;
    justify-content: space-between;
}

.darkslategray-btn {
    background-color: #375F68;
    color: white;
}

.darktheme-btn {
    background-color: #56536A;
    color: white;
}

.auburn-btn {
    background-color: #9b332c;
    color: white;
}

.flexbox-textarea {
    display: flex;
    justify-content: center;
    margin: 1vh 1vw;
}

.flexbox-textarea > textarea {
    flex: 1;
}

.flexbox-right-align {
    display: flex;
    justify-content: flex-end;
}

.flexbox-right-align > p {
    margin: .5vh 1vw;
}

.flexbox-footer-imgs {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none
}

/* SHIFT FOOTER WHEN SMALLER SCREEN */
@media screen and (max-height:700px) {
    .grid-body-col-2 {
        grid-template-rows: 2fr 1fr;
    }
}

/* DESKTOP */
@media screen and (min-width:600px) {
    
    .grid-body {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .grid-body-col-2 {
        display: grid;
        grid-template-rows: 4fr 1fr;
    }

    header {
        min-height: 100vh;
    }

    h2 {
        padding: 5vh;
    }
    
}
