@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* MOBILE FIRST */

header {
    background-color: #faf4ec;
    min-height: 100vh;
}

header > h2 {
    margin: 0;
    padding-top: 5vh;
}

ul {
    list-style-type: square;
}

body {
    background-color: #f3e8de;
    margin: 0;
}

h2, h3, h4, p, a, ul {
    font-family: 'Open Sans', sans-serif;
    color: #256993;
}

h2, h3 {
    text-align: center;
}

button {
    padding: 1.5vh;
    border-radius: 10px;
    cursor: pointer;
    margin: 1vh 1vw;
}

.grid-body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.grid-body-col-2 {
    display: grid;
    grid-template-rows: 4fr 1fr;
}


.ul-about {
    list-style-type: none;
}

.flexbox-top-btns {
    display: flex;
    justify-content: space-between;
}

.darkslategray-btn {
    background-color: #375F68;
    color: white;
}

.darktheme-btn {
    background-color: #56536A;
    color: white;
}

.auburn-btn {
    background-color: #9b332c;
    color: white;
}

.flexbox-textarea {
    display: flex;
    justify-content: center;
    margin: 1vh 1vw;
}

.flexbox-textarea > textarea {
    flex: 1;
}

.flexbox-right-align {
    display: flex;
    justify-content: flex-end;
}

.flexbox-right-align > p {
    margin: .5vh 1vw;
}

.flexbox-footer-imgs {
    display: flex;
    justify-content: center;
}

@media screen and (max-height:575px) {
    footer {
        display: none;
    }
}

/* DESKTOP SECOND */
@media screen and (min-width:600px) {
    .grid-body {

    }
    
}
